{% extends "base.html" %}

{% block body %}
<div id="logs">
    {% for log in logs %}
    <div class="pure-g grid-padding">
        <div class="pure-u-1-1">
            <div class="log">
                <div class="secondary">{{ log.module }} в {{ log.funcName }}</div>
                <div class="primary">
                <a href="{{ url_for('event', id=log._id) }}">
                {{ log.message }}</div></a>
                <div class="time">{{ log.time | naturaltime }} от {{ log.name }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
