{% extends "base.html" %}

{% block body %}

{% raw %}
<div id="logs" ng-controller="LogsCtrl">
    <div ng-repeat="log in logs" class="pure-g grid-padding">
        <div class="pure-u-1-1">
            <div class="log">
                <div class="secondary">{{ log.module }} в {{ log.funcName }}</div>
                <div class="primary">

                {{ log.message }}</div></a>
                <div class="time">{{ log.time.$date }} от {{ log.name }}</div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}
